
.fullScreen{
  height: 100%;
  width: 100%;
}
.bottomM{
  margin-bottom: 50px;
}
.mySliderS{
  overflow: hidden;
}
.myLogo{
  width: 50px;
}
.rtl{
  direction: rtl !important;
}
.w-18rem{
width: 18rem;
}

.icon-100{
  font-size: 150px;
}